<%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f| %>
  <%= devise_error_messages! %> <!-- 이거 수정해야함 -->
  <div id="editPage">

    <div id="image-<%= current_user.id %>">
      <span id="default-image-<%= current_user.id %>">
      <% if current_user.thumbnail.present? %>
        <%= image_tag(current_user.thumbnail, id: "profileEditImg", class: :circle) %>
      <% else %>
        <img src="/people.jpg" class="circle" id="profileEditImg">
      <% end %>
      <!-- <img id="profileEditImg" src="#" /> -->
      </span>
    </div>
    <div id="changeImage_edit fallback">
      <a class="indigo-text text-darken-4" id="change_picture">사진 바꾸기</a>
      <%= f.file_field :thumbnail, class: "hidden_file_field", accept: "image/*", onchange: "readURL(this);" %>
    </div>
  </div>

  <div class="profileEditElement">
    <div>
      아이디
    </div>
    <div>
      <div class="field all_element_editProfile">
        <%= f.email_field :email, autofocus: true, autocomplete: "email"%>
      </div>
    </div>
    <div class="nameLabel">
      이름
    </div>
    <div>
      <div class="field all_element_editProfile">
      <%= f.text_field :name, autofocus: false, autocomplete: "off" %>
      </div>
    </div>
    <div class="oneLineLable">
      한 줄
    </div>
    <div>
      <%= f.text_area :information, autofocus: false, autocomplete: "off", id: "profileEditTextArea" %>
    </div>
    <div id="passwordLable">
      비밀번호
    </div>
    <div>
      <%= f.password_field :password, autocomplete: "off" %>
      <!-- 비번 유효성 -->
      <!-- <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %> -->
    </div>
    <div id="passwordConfirmLabel">
      비밀번호 확인
    </div>
    <div>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div id="passwordConfirmLabel">
      현재 비밀번호(정보 변경 시)
    <div>
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div id="alertLabel">
      알림
    </div>
    <div id="alertElement">
      <div class="eleAlert"  style="margin-top:25px">
        <div class="elementOfAlert">
          구독
        </div>
        <div class="switch">
          <label>
            Off
            <%= f.check_box :follow_on, {}, "true", "false" %>
            <span class="lever"></span>
            On
          </label>
        </div>
     </div>
       <div class="eleAlert"  style="margin-top:25px">
         <div class="elementOfAlert">
           댓글
         </div>
         <div class="switch">
           <label>
             Off
             <%= f.check_box :comment_on, {}, "true", "false" %>
             <span class="lever"></span>
             On
           </label>
         </div>
      </div>
      <div class="eleAlert"  style="margin-top:25px">
        <div class="elementOfAlert">
          담기
        </div>
        <div class="switch">
          <label>
            Off
            <%= f.check_box :like_on, {}, "true", "false" %>
            <span class="lever"></span>
            On
          </label>
        </div>
     </div>
     <div class="eleAlert"  style="margin-top:25px">
       <div class="elementOfAlert">
         태그
       </div>
       <div class="switch">
         <label>
           Off
           <%= f.check_box :tag_on, {}, "true", "false" %>
           <span class="lever"></span>
           On
         </label>
       </div>
    </div>
    <div class="eleAlert"  style="margin-top:25px">
      <div class="elementOfAlert">
        대댓글
      </div>
      <div class="switch">
        <label>
          Off
          <%= f.check_box :subcomment_on, {}, "true", "false" %>
          <span class="lever"></span>
          On
        </label>
      </div>
   </div>
     <div><hr id="EditProfile_hrTag"/></div>
    </div>
  </div>
  <div id="submitEditProfile">
    <button id="submitEditProfileButton">확인</button>
  </div>

<% end %>

<script>
var change_picture = $("#change_picture")

change_picture.on('click', function () {
  $('.hidden_file_field').trigger('click');
});

function readURL(input) {
       if (input.files && input.files[0]) {
           var reader = new FileReader();

           reader.onload = function (e) {
               $('#profileEditImg')
                   .attr('src', e.target.result);
           };

           reader.readAsDataURL(input.files[0]);
       }
   }
</script>
