console.log("seongwon");
$('#comment_content').val("");
$('#comment-size').text("<%= @post.comments.size %>");
$('#postcomment').append('<div id="comment_<%= @new_comment.id %>">'+
                          '<div id="showCommentProfile">'+
                            '<div>'+
                              '<% if @new_comment.user.thumbnail.present? %>'+
                                '<%= image_tag(@new_comment.user.thumbnail, id: "showImageComment") %>'+
                              '<% else %>'+
                                '<img src="/people.jpg" id="showImageComment">'+
                              '<% end %>'+
                            '</div>'+
                            '<div id="showCommentStyle">'+
                              '<div id="showCommentName">'+
                                '<%= @new_comment.user.name %>'+
                              '</div>'+
                              '<div id="showCommenttime">'+
                                '<%= time_ago_in_words @new_comment.created_at %>'+' 전'+'<br>'+
                                '<% if user_signed_in? && @new_comment.user.id == current_user.id %>'+
                                  '<%= link_to '삭제', post_comment_path(@post, @new_comment), method: :delete, class: "onefive", id: "delete-margin", remote: true %>'+
                                '<% end %>'+
                              '</div>'+
                            '</div>'+
                          '</div>'+
                          '<div id="showCommentContent">'+
                            '<%= render_with_hashtags(@new_comment.content) %>'+
                          '</div>'+
                          '<div>'+'<hr id="showLine3"/>'+'</div>'+
                        '</div>');
