console.log("seongwon");
$('#comment_content').val("");
$('#comment-size').text("<%= @post.comments.size %>");
$('#postcomment').append('<li class="collection-item" id="comment_<%= @new_comment.id %>">'+
                        '<% if @new_comment.user.thumbnail.present? %>'+
                          '<%= image_tag(@new_comment.user.thumbnail, class: "thumbnail-size circle") %>'+
                        '<% else %>'+
                          '<img src="/people.jpg" class="thumbnail-size circle">'+
                        '<% end %>'+
                        '<span class="title">'+'<%= link_to "#{@new_comment.user.name}", profile_timeline_path(@new_comment.user), class: :onefive %>'+'</span>'+
                        '<span class="right">'+"<%= time_ago_in_words @new_comment.created_at %> 전"+'</span>'+
                        '<p class="pre-line">'+'<br><br>'+'<%= render_with_hashtags(@new_comment.content) %>'+
                        '<%= link_to '삭제', post_comment_path(@post.id, @new_comment), method: :delete, class: "right", remote: true %>'+
                        '</p>'+'</li>');
