<!-- 수정 삭제 -->
  <div class="postIconFix onefive">수정</div>
  <div class="postIconFix onefive">|</div>
  <div class="postIconFix3 onefive">삭제</div>

<!-- 저장 기능 -->
    <span id='like_toggle'>
      <% if user_signed_in? && current_user.is_like?(@post) %>

          <%= link_to 'bookmark', post_like_path(@post), method: :post, class: "material-icons right black-text", id: "like_default", remote: true %>
      <% else %>
          <%= link_to 'bookmark_border', post_like_path(@post), method: :post, class: "material-icons right black-text", id: "like_default" ,remote: true%>
      <% end %>
    </span>
    <p id="like_size"><%= @post.likes.size %></p>
<!-- 댓글 수 -->
    <i class="material-icons right">sms</i><p id="comment-size"><%= @post.comments.size + Subcomment.where(post_id: @post.id).size %></p>
<!-- 링크 복사 기능 -->
    <a href="<%= copyurl_path(@post) %>" class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#copy-<%= @post.id %>" data-remote="true" onclick="M.toast({html: '링크가 복사되었습니다.'})"><i class="material-icons right black-text">share</i></a>
