<%= form_for @post do |f| %>

  <h2>음악을 적다</h2>

  <div class="field">
    <%= f.label :title, '제목' %>
    <%= f.text_field :title %>
  </div><br>

  <div class="field">
  <%= f.label :image, '대표 사진' %>
  <%= f.file_field :image, multipart: true %>
  </div><br>

  <div class="field">
    <%= f.label :subtitle, '부제목' %>
    <%= f.text_area :subtitle %>
  </div><br>

  <div class="field">
    <%= f.label :content, '내용' %>
    <%= f.text_area :content %>
  </div><br>

  <div class="input-field">
    <%= f.submit '작성', class: "btn indigo darken-4" %>
    <%= link_to '목록', posts_path, class: "btn indigo darken-4" %>
  </div>


<% end %>
