<div style="margin-top: 80px;">
  <div class="side_empty">
    <%= form_for @post do |f| %>

      <div class="field form_title">
        <%= f.text_field :title, placeholder: "제목을 입력하세요.", class: "input-xlarge newPostForm", autocomplete: "off" %>
      </div>

      <div class="field form_subtitle">
        <%= f.text_area :subtitle, placeholder: "부제를 입력하세요.",class: "newPostFormSub", autocomplete: "off" %>
      </div><br>

    <div class="field">
      <%= f.label :image, '대표사진 업로드' %><br>
      <%= f.file_field :image, id: "hidden_file_field" %>
      <%= link_to 'image', '#', class: "material-icons black-text", id: "hidden_file_field_trigger" %>
      <span id="added_file-result"></span>
    </div>

      <div class="field form_songtitle">
        <a href="#modal" class="modal-trigger btn white indigo-text text-darken-4">음악 불러오기</a>
        <div id="music-result">
        </div>
      </div>

      <div class="field hiphop">
        <%= f.text_area :content, class: "tinymce" %>
        <%= tinymce %>
      </div><br>

      <div class="input-field">
        <%= f.submit '작성', class: "btn indigo darken-4" %>
        <%= link_to '그만 쓸래요', posts_path, class: "btn indigo darken-4" %>
      </div>

    <% end %>

  </div>
</div>

<div id="modal" class="modal">
 <div id="search123">
  <div id="search5"> <!--두번째 세션 탭 시작 -->
     <ul id ="search_hover" class="tabs">
       <li class="tab session_active"><a class="active grey-text" href="#search_title" id="search-title">제목</a></li>
       <li class="tab session1_li grey-text bigfont">|</li>
       <li class="tab session_active"><a class="active grey-text" href="#search_singer" id="search-singer">가수</a></a></li>
     </ul>
  </div> <!-- 탭 끝 -->
  <div id="search3"> <!-- 세번째 세션시작. 검색목록 나열 -->
    <div id="search_title"> <!-- 제목을 눌렀을 때 -->
      <div id=#search4> <!-- 첫번째 세션 -->
        <%= form_tag(search_posts_path, method: :get, remote: true) do %>
          <div class="search_input"> <!--아이콘과 검색바 -->
            <!--아이콘-->
            <i class="material-icons search_icon">search</i>
            <!--검색-->
            <div class="search_input_div"><input type="text" name="search_music" id="search_song"></div>
          </div>
        <% end %>
        <div><br><br>
          <div id="search_music_article">
            <ol id="music-lists">
            </ol>
            <%#= will_paginate %>
          </div>
        </div>
      </div> <!-- 첫 세션끝 -->
    </div> <!-- 음악을 눌렀을 때 끝 -->
        <!-- 성원형. 위에 search_music 아이디를 반복해주면 됩니다.-->
   <div id="search_singer"> <!-- 사용자를 눌렀을때 -->
     <div id=#search4> <!-- 첫번째 세션 -->
       <%= form_tag(search_posts_path, method: :get, remote: true) do %>
         <div class="search_input"> <!--아이콘과 검색바 -->
           <!--아이콘-->
           <i class="material-icons search_icon">search</i>
           <!--검색-->
           <div class="search_input_div"><input type="text" name="search_singer" id="search_singer"></div>
         </div>
       <% end %>
       <div><br><br>
         <div id="search_music_article">
           <ol id="music-lists2">
           </ol>
         </div>
       </div>
     </div> <!-- 첫 세션끝 -->
   </div> <!-- 첫 세션끝 -->
   </div> <!-- 사용자를 눌렀을때 끝 -->
  </div> <!--세번째 세션 끝 -->
 </div>
</div>

<script>
  $(document).ready(function(){
    $('.modal').modal();
  });
  $('#search-title').on('click', function () {
      $(this).attr('style', 'color: #0b1d7b !important');
      $('#search-singer').attr('style', 'color: #7a7a7a !important');
  });
  $('#search-singer').on('click', function () {
    $(this).attr('style', 'color: #0b1d7b !important');
    $('#search-title').attr('style', 'color: #7a7a7a !important');
  });

  function search_songs(search_song){
    $.get("/direct_search_songs/" + search_song, function(){
      console.log('dd');
    });
  }

  function search_singers(search_singer){
    $.get("/direct_search_singers/" + search_singer, function(){
      console.log('pp');
    });
  }

  $('input#search_song').on('keyup', function(){
    var val = this.value;
    search_songs(val);
  });

  $('input#search_singer').on('keyup', function(){
    var val = this.value;
    search_singers(val);
  });
</script>

<style>
  .cropit-preview {
    position: relative;
    width: 300px;
    height: 180px;
  }
  .cropit-preview-image-container {
    cursor: move;
  }
</style>
<script>
$(document).ready(function(){
  $('.sidenav').sidenav({
    edge: 'right'
  });
});
$(document).ready(function(){
  $('.modal').modal();
});
$(document).ready(function(){
  $('.tabs').tabs();
});

$('#search-music').on('click', function () {
  $(this).attr('style', 'color: #0b1d7b !important');
  $('#search-user').attr('style', 'color: #7a7a7a !important');
  $('#search-post').attr('style', 'color: #7a7a7a !important');
});
$('#search-user').on('click', function () {
  $(this).attr('style', 'color: #0b1d7b !important');
  $('#search-music').attr('style', 'color: #7a7a7a !important');
  $('#search-post').attr('style', 'color: #7a7a7a !important');
});
$('#search-post').on('click', function () {
  $(this).attr('style', 'color: #0b1d7b !important');
  $('#search-music').attr('style', 'color: #7a7a7a !important');
  $('#search-user').attr('style', 'color: #7a7a7a !important');
});

$('#hidden_file_field_trigger').on('click', function(){
  $('#hidden_file_field').trigger('click');
});

$('#hidden_file_field').on('change', function(){
  var url = $(this).val();
  $('#added_file-result').empty();
  $('#added_file-result').append(url);
})
</script>
