<div style="margin-top: 80px;">
  <div class="side_empty">
    <%= form_for @post do |f| %>

      <div class="field form_title">
        <%= f.text_field :title, placeholder: "제목을 입력하세요.", class: "input-xlarge newPostForm", autocomplete: "off" %>
      </div>

      <div class="field form_subtitle">
        <%= f.text_area :subtitle, placeholder: "부제를 입력하세요.", autocomplete: "off" %>
      </div><br>

      <div class="field">
        <%= f.label :image, '대표사진' %>
        <%= f.file_field :imgae, :required => true %>
      </div>

      <div class="field form_songtitle">
        <a href="#modal" class="modal-trigger btn white indigo-text text-darken-4">음악 불러오기</a>
        <div id="music-result">
        </div>
      </div>

      <div class="field hiphop">
        <%= f.text_area :content, class: "tinymce" %>
        <%= tinymce %>
      </div><br>

      <div class="input-field">
        <%= f.submit '작성', class: "btn indigo darken-4" %>
        <%= link_to '그만 쓸래요', posts_path, class: "btn indigo darken-4" %>
      </div>

    <% end %>

  </div>
</div>

<!-- Modal Structure -->
<!-- <div id="modal" class="modal">
  <div class="modal-content">
    <h4>노래 제목으로 검색하세요</h4>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">닫기</a>
    </div>
    <%= form_tag(search_posts_path, method: :get, remote: true) do %>
      <input type="text" name="search_music">
      <input type="submit" class="btn right indigo darken-4" value="검색">
    <% end %>
    <ol id="music-lists">
    </ol>
  </div>
</div> -->

<div id="modal" class="modal">
 <div id="search123">
  <div id="search5"> <!--두번째 세션 탭 시작 -->
     <ul id ="search_hover" class="tabs">
       <li class="tab session_active"><a class="active grey-text" href="#search_title" id="search-title">제목</a></li>
       <li class="tab session1_li grey-text bigfont">|</li>
       <li class="tab session_active"><a class="active grey-text" href="#search_singer" id="search-singer">가수</a></a></li>
     </ul>
  </div> <!-- 탭 끝 -->
  <div id="search3"> <!-- 세번째 세션시작. 검색목록 나열 -->
    <div id="search_title"> <!-- 제목을 눌렀을 때 -->
      <div id=#search4> <!-- 첫번째 세션 -->
        <%= form_tag(search_posts_path, method: :get, remote: true) do %>
          <div class="search_input"> <!--아이콘과 검색바 -->
            <!--아이콘-->
            <i class="material-icons search_icon">search</i>
            <!--검색-->
            <div class="search_input_div"><input type="text" name="search_music"></div>
          </div>
        <% end %>
        <div><br><br>
          <div id="search_music_article">
            <ol id="music-lists">
            </ol>
            <%#= will_paginate %>
          </div>
        </div>
      </div> <!-- 첫 세션끝 -->
    </div> <!-- 음악을 눌렀을 때 끝 -->
        <!-- 성원형. 위에 search_music 아이디를 반복해주면 됩니다.-->
   <div id="search_singer"> <!-- 사용자를 눌렀을때 -->
     <div id=#search4> <!-- 첫번째 세션 -->
       <%= form_tag(search_posts_path, method: :get, remote: true) do %>
         <div class="search_input"> <!--아이콘과 검색바 -->
           <!--아이콘-->
           <i class="material-icons search_icon">search</i>
           <!--검색-->
           <div class="search_input_div"><input type="text" name="search_singer"></div>
         </div>
       <% end %>
       <div><br><br>
         <div id="search_music_article">
           <ol id="music-lists2">
           </ol>
         </div>
       </div>
     </div> <!-- 첫 세션끝 -->
   </div> <!-- 첫 세션끝 -->
   </div> <!-- 사용자를 눌렀을때 끝 -->
  </div> <!--세번째 세션 끝 -->
 </div>
</div>

<script>
  $(document).ready(function(){
    $('.modal').modal();
  });
  $('#search-title').on('click', function () {
      $(this).attr('style', 'color: #0b1d7b !important');
      $('#search-singer').attr('style', 'color: #7a7a7a !important');
  });
  $('#search-singer').on('click', function () {
    $(this).attr('style', 'color: #0b1d7b !important');
    $('#search-title').attr('style', 'color: #7a7a7a !important');
  });

  $('div').removeClass('container');

// var AvatarCrop,
// bind = function(fn, me){ return function(){ return fn.apply(me, arguments); }; };
//
// $(function() {
//   return new AvatarCrop();
// });
//
// AvatarCrop = (function() {
//   function AvatarCrop() {
//     this.updatePreview = bind(this.updatePreview, this);
//     this.update = bind(this.update, this);
//     var height, width;
//     width = parseInt($('#cropbox').width());
//     height = parseInt($('#cropbox').height());
//     $('#cropbox').Jcrop({
//       aspectRatio: 1,
//       setSelect: [0, 0, width, height],
//       onSelect: this.update,
//       onChange: this.update
//     });
//   }
//
//   AvatarCrop.prototype.update = function(coords) {
//     $('#user_crop_x').val(coords.x);
//     $('#user_crop_y').val(coords.y);
//     $('#user_crop_w').val(coords.w);
//     $('#user_crop_h').val(coords.h);
//     return this.updatePreview(coords);
//   };
//
//   AvatarCrop.prototype.updatePreview = function(coords) {
//     var rx, ry;
//     rx = 100 / coords.w;
//     ry = 100 / coords.h;
//     return $('#preview').css({
//       width: Math.round(rx * $('#cropbox').width()) + 'px',
//       height: Math.round(ry * $('#cropbox').height()) + 'px',
//       marginLeft: '-' + Math.round(rx * coords.x) + 'px',
//       marginTop: '-' + Math.round(ry * coords.y) + 'px'
//     });
//   };
//
//   return AvatarCrop;
//
// })();
</script>

<style>
  .cropit-preview {
    position: relative;
    width: 300px;
    height: 180px;
  }
  .cropit-preview-image-container {
    cursor: move;
  }
</style>
