<div class='row container'>
  <div class='col s8'>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5 class="panel-title onefive">대표이미지 사이즈를 알맞게 조절해주세요</h5>
      </div>
      <div class="panel-body">
        <%= image_tag @post.image_url(:large), id: "cropbox" %>
        <br>
        <%= form_for(@post) do |f| %>
          <% %w[x y w h].each do |attribute| %>
            <%= f.hidden_field "crop_#{attribute}" %>
          <% end %>

          <div class="form-actions">
            <%= f.submit '저장', class: "btn indigo darken-4 white-text" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class='col s4'>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5 class="panel-title onefive">미리보기</h5>
      </div>
      <div class="panel-body">
        <div style="width: 100px; height: 100px; overflow:hidden">
          <%= image_tag @post.image.url(:large), id: "preview" %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
var AvatarCrop,
bind = function(fn, me){ return function(){ return fn.apply(me, arguments); }; };

$(function() {
  return new AvatarCrop();
});

AvatarCrop = (function() {
  function AvatarCrop() {
    this.updatePreview = bind(this.updatePreview, this);
    this.update = bind(this.update, this);
    var height, width;
    width = parseInt($('#cropbox').width());
    height = parseInt($('#cropbox').height());
    $('#cropbox').Jcrop({
      aspectRatio: 1,
      setSelect: [0, 0, width, height],
      onSelect: this.update,
      onChange: this.update
    });
  }

  AvatarCrop.prototype.update = function(coords) {
    $('#post_crop_x').val(coords.x);
    $('#post_crop_y').val(coords.y);
    $('#post_crop_w').val(coords.w);
    $('#post_crop_h').val(coords.h);
    return this.updatePreview(coords);
  };

  AvatarCrop.prototype.updatePreview = function(coords) {
    var rx, ry;
    rx = 100 / coords.w;
    ry = 100 / coords.h;
    return $('#preview').css({
      width: Math.round(rx * $('#cropbox').width()) + 'px',
      height: Math.round(ry * $('#cropbox').height()) + 'px',
      marginLeft: '-' + Math.round(rx * coords.x) + 'px',
      marginTop: '-' + Math.round(ry * coords.y) + 'px'
    });
  };

  return AvatarCrop;

})();
</script>
