<br><br>
<% @posts.each do |p| %>
  <div class="p_content">
    <div class="card horizontal">
      <div class="card-image">
        <% if p.image.present? %>
          <%= image_tag(p.image, class: "card_image_size") %>
        <% else %>
          <img src="/onefive.png" class="card_image_size">
        <% end %>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <div class="card_top">
            <a class="dropdown-trigger" data-target="dropdown2">
              <i class="tiny material-icons onefive" style="float: right;">more_horiz</i>
            </a>
            <ul id="dropdown2" class="dropdown-content">
              <li><a href="<%= edit_post_path(p) %>" id="onefive">수정</a></li>
              <li class="divider" tabindex="-1"></li>
              <li><a href="<%= post_path(p) %>" id="onefive" data-method="delete">삭제</a></li>
            </ul>
          </div>
            <div class="content_title">
              <%= link_to "#{p.title}", post_path(p), class: "onefive" %>
            </div>
            <div class="content_song">
              Hello world - hello 외 몇 곡
              <%#= image_tag(Song.find(p.song_ids.first.to_i).image %>
            </div>
            <div class="content_subtitle">
              <%= p.subtitle %>
            </div>
            <div class="content_preview">
              <%= p.content.html_safe %>
            </div>
          </div>
          <div class="card-action">
            <div class="things">
              <div class="things_comment">
                <i class="tiny material-icons onefive">comment</i>
              </div>
              <div class="things_commentcount">
                <%= p.comments.size %>
              </div>
              <div class="things_favorite">
                <% if p.liked_users.include?(current_user) %>
                  <i class="tiny material-icons onefive">bookmark</i>
                <% else %>
                  <i class="tiny material-icons onefive">bookmark_border</i>
                <% end %>
              </div>
              <div class="things_favoritecount">
                <%= p.likes.size %>
              </div>
              <div class="things_empty"></div>
              <div class="things_text">
                <%= time_ago_in_words p.created_at %> 전 · <a href="<%= post_path(p) %>" id="card-align"><%= p.user.name %></a> 씀
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<%= will_paginate @posts %>
<br><br><br>
<!--글 쓰기 버튼-->
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large" href="<%= new_post_path %>">
      <i class="large material-icons">mode_edit</i>
    </a>
  </div>
<!--//-->

<!-- <script>
pageAfterIn: function() {
},
pageInit: function() {
  setTimeout(function() {
    var toastCenter = app.toast.create({
      text: '이메일을 확인해주세요',
      position: 'center',
      closeTimeout: 1000,
    });
  }, 1);
}
</script> -->
<style>
.loginandsignup>ul,li {
  display:inline;
        }
</style>
