<!-- 아래 코드 건드리지 말 것 -->
<span id="text-<%= @post.id %>"><text id="copy-<%= @post.id %>" class="white-text toosmall">www.1i05.me/posts/<%= @post.id %></text></span>

<div id="showPage">
  <div id="showPage1">
    <div>
      <% if @post.image.present? %>
        <%= image_tag @post.image_url(:thumb), id: "showTitleImg" %>
      <% else %>
        <img src="/onefive.png" id="showTitleImg">
      <% end %>
    </div>
    <div id="titleWithoutImg">
      <div id="showTitle">
        <%= @post.title %>
      </div>
      <div id="showContentUp">
        <%= @post.subtitle %>
      </div>
      <div id="showProfileAll" class="right">
        <div>
          <% if user_signed_in? && @post.user.thumbnail.present? %>
            <%= image_tag(@post.user.thumbnail, id: "showUserImg") %>
          <% else %>
            <img src="/people.jpg" id="showUserImg">
          <% end %>
        </div>
        <div class="showProfileWithWrite">
          <div class="showProfile">
            <div class="showProfileContent"id="showUserName">
              <% if user_signed_in? %>
                <%= link_to "#{@post.user.name}", profile_timeline_path(@post.user), class: "black-text" %>
              <% end %>
            </div>
            <div class="showProfileContent">
                <% if user_signed_in? && current_user != @user %>
                  <%= link_to (current_user.is_follower?(@user) ? '구독취소' : '구독하기'), toggle_follow_path(@user), class: "showFollow",method: :post, id: 'follow' , remote: true %>
                <% end %>
            </div>
          </div>
          <div id="showUserOnewrite" sytle="margin-top: 10px">
            <%= @post.user.information %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div><hr id="showLine"/></div>

  <% if @post.song_ids.present? %>
    <div class="card horizontal collapsible">
     <div class="card-stacked">
       <div class="card-content">
         <div id="cardFlex">
           <div><%= image_tag(Song.find(@post.song_ids.first.to_i).image, id: :cardElement1) %></div>
           <div id="cardElement2">
             <%= Song.find(@post.song_ids.first.to_i).title %>
             <% if @post.song_ids.size > 1 %>
              (외 <%= @post.song_ids.size - 1 %>곡)
             <% end %>
           </div>
           <div id="cardElement3"><%= Song.find(@post.song_ids.first.to_i).album %> | <%= Song.find(@post.song_ids.first.to_i).singer.name %></div>
         </div>
       </div>
     </div>
   </div>

    <div id="showContent">
      <% @post.song_ids.each do |song| %>
        <p><%= image_tag(Song.find(song.to_i).image) %><%= Song.find(song.to_i).title %> | <%= Song.find(song.to_i).singer.name %> | <%= Song.find(song.to_i).album %></p>
      <% end %>
    </div>
  <% end %>

  <div id="realContent">
    <p><%= @post.content.html_safe %></p>
  </div>

  <div><hr id="showLine2"/></div>

  <!-- 수정 삭제 -->
  <% if user_signed_in? && current_user == @post.user %>
    <div class="edit-delete row">
      <%= link_to '수정', edit_post_path(@post), class: "onefive col editedit" %>
      <div class="onefive col thingthing">|</div>
      <%= link_to '삭제', post_path(@post), method: :delete, class: "onefive col deletedelte" %>
    </div>
  <% end %>

  <div id="showIcon">
    <%= render partial: "buttons" %>
  </div>

  <div id="secondShowPage">
    <div id="showpage3">
      <% if @post.comments.present? %>
        <div id="postcomment">
          <% @comments.each do |comment| %>
            <%= render comment %>
          <% end %>
        </div>
      <% else %>
        <div id="postcomment">
        </div>
      <% end %>

      <div id="showCommentWrite">
        <div>
          <% if user_signed_in? && current_user.thumbnail.present? %>
            <%= image_tag(current_user.thumbnail, id: "showImageComment") %>
          <% else %>
            <img src="/people.png" id="showImageComment">
          <% end %>
        </div>
        <!-- 댓글작성기능 -->
        <%= form_for(@comment, url: post_comments_path(@post), remote: true) do |f| %>
          <div class="input-field">
            <%= f.text_area :content, class: "showCommentTextarea", placeholder: "댓글쓰기...", required: true, id: "comment_content" %>
          </div>
          <div class="input-field">
            <%= f.submit "댓글 쓰기", class: "btn indigo darken-4 right", id: "mceu_31" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <br><br><%= js_will_paginate @comments %><br><br><br>
</div>

<!--글 쓰기 버튼-->
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large indigo darken-4" href="<%= new_post_path %>">
      <i class="large material-icons">mode_edit</i>
    </a>
  </div>
<!--//-->


<script>
$(document).ready(function(){
  var clipboard = new Clipboard('.clipboard-btn');
});

$('#comment_content').keypress(function (e) {
 var key = e.which;
 if(key == 13 && !e.shiftKey)  // the enter key code
  {
    $('input').click();
    $('#comment_content').val('');
    // e.preventDefault();
    return false;
  }
});

var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>

<style>
 .card {
   width: 690px;
   margin-top: 80px !important;
 }

 .card-content {
   padding-top: 7.5px !important;
   padding-bottom: 7.5px !important;
   padding-left:15px !important;
   padding-right:15px !important;
   height: 70px !important;
   vertical-align: middle !important;
 }
</style>
