<br>
<div class = "center">
  <% if @user.thumbnail.present? %>
    <%= link_to image_tag(@user.thumbnail, class: "tl-size circle"), profile_timeline_path(@user.id) %>
  <% else %>
    <img src="/people.jpg" class="tl-size circle">
  <% end %>

  <h4>
    <%= @user.name %>
  </h4>

  <a href="<%= subscribe_timeline_path(@user) %>" class="indigo-text text-darken-4"><span id="followings-size"><%= @user.followings.size %></span>명을 구독하고, <span id="followers-size"><%= @user.followers.size %></span>명이 구독 중</a><br>
  <p class="indigo-text text-darken-4"><%= @user.information %></p>

  <% if user_signed_in? && current_user != @user %>
    <%= link_to (current_user.is_follower?(@user) ? '구독 취소' : '구독 하기'), toggle_follow_path(@user), method: :post, class: "btn indigo darken-4", id: 'follow', remote: true %>
  <% end %>

</div>

<br>
<hr>
<br><br>

<% if @posts.present? %>
  <% @posts.each do |p| %>
    <a href="<%= post_path(p) %>">
      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <% if p.image.present? %>
                <%= image_tag(p.image) %>
              <% else %>
                <img src="/onefive.png">
              <% end %>
              <span class="card-title indigo-text text-darken-4"><%= p.title %></span>
            </div>
            <div class="card-content">
              <p class="indigo-text text-darken-4"><b><%= p.subtitle %></b><br><br>
              <%= p.content %></p>
            </div>
            <div class="card-action">
              <span class="black-text"><i class="material-icons">bookmark</i><%= p.likes.size %></span>
              <span class="black-text"><i class="material-icons">sms</i><%= p.comments.size %></span>
              <%= link_to "#{p.user.name}", "#", class: "right indigo-text text-darken-4" %>
            </div>
          </div>
        </div>
      </div>
    </a>
  <% end %>
</div>

<%= will_paginate @posts %>
