<div class="profileimage center">
    <% if @user.thumbnail.present? %>
      <%= link_to image_tag(@user.thumbnail, class: "z-depth-3 circle tl-size"), profile_timeline_path(@user.id) %>
    <% else %>
      <img src="/people.jpg" class="tl-size circle">
    <% end %>
</div>

<div class="user_name">
  <%= @user.name %>
</div>

<div class="user_subscribe">
  <a href="<%= subscribe_timeline_path(@user) %>" class="onefive">
    <span id="followings-length">
      <%= @user.followings.size %>
    </span>명을 구독하고,
    <span id="followers-length">
      <%= @user.followers.size %>
    </span>명이 구독 중
  </a><br>
</div>

<div class="user_status">
  <%= @user.information %>
</div>

<div class="center">
  <% if user_signed_in? && current_user != @user %>
    <%= link_to (current_user.is_follower?(@user) ? '구독 취소' : '구독 하기'), toggle_follow_path(@user), method: :post, class: "btn indigo darken-4", id: 'follow', remote: true %>
  <% end %>
</div>

<div class="line">
  <hr width="40.625em" align="center" color="#0b1d7b" size="1">
</div>



<div id="whoSubscribe">
  <div>
    <div class="letSubscribe onefive"><%= @user.name %>님이 구독하는</div>
    <% if @user.followings.present? %>
      <% @user.followings.each do |following| %>
        <div class="subscribeImgWrite">
          <span class="subscribeImgMargin"> <!-- 이미지 -->
            <% if following.thumbnail.present? %>
              <%= link_to image_tag(following.thumbnail, class: "subscribeProfileImg circle"), profile_timeline_path(following) %>
            <% else %>
              <a href="<%= profile_timeline_path(following) %>"><img src="/people.jpg" class="subscribeProfileImg circle"></a>
            <% end %>
          </span>
          <div>
            <span class="subscribeProfileWrite">
              <div class="subscribeUser onefive"><%= following.name %></div><!-- 사람이름 -->
              <% if following.information.present? %>
                <div class="subscribeWrite">"<%= following.information %>"</div> <!-- 한줄 -->
              <% else %>
                <div class="grey-text" >"한 줄 없음"</div>
              <% end %>
            </span>
          </div>
      <% end %>
    <% else %>
      <p class="grey-text">"사람이 아직 없네요..."</p>
    <% end %>
      </div>
  </div>

  <div id="whomSubscribe">
    <div class="letSubscribe onefive"><%= @user.name %>님을 구독하는</div>
    <% if @user.followers.present? %>
      <% @user.followers.each do |follower| %>
        <div class="subscribeImgWrite">
          <span class="col">
            <% if follower.thumbnail.present? %>
              <%= link_to image_tag(follower.thumbnail, class: "subscribeProfileImg circle"), profile_timeline_path(follower) %>
            <% else %>
              <a href="<%= profile_timeline_path(follower) %>"><img src="/people.jpg" class="subscribeProfileImg circle"></a>
            <% end %>
          </span>
          <span class="subscribeProfileWrite">
            <div class="subscribeUser onefive"><%= follower.name %></div>
            <% if follower.information.present? %>
              <div class="subscribeWrite">"<%= follower.information %>"</div>
            <% else %>
              <div class="grey-text">"한 줄 없음"</div>
            <% end %>
          </span>
        </div>
      <% end %>
    <% else %>
      <p class="grey-text">"사람이 아직 없네요..."</p>
    <% end %>
    </div>


</div>
