<!DOCTYPE html>
<html>
<head>
  <title>한/시/오/분</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <nav class="nav-extended">
    <div class="nav-content indigo darken-4">
      <span class="nav-title">One Five</span>
      </a>
    </div>
    <div class="nav-wrapper white">
      <%= link_to '한/시/오/분', root_path, class: "brand-logo indigo-text text-darken-4" %>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons indigo-text text-darken-4">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
        <li><a href="<%= root_path %>"><i class="material-icons indigo-text text-darken-4">home</i></a></li>
        <li><a href="#"><i class="material-icons indigo-text text-darken-4">search</i></a></li>
        <li><a href="#"><i class="material-icons indigo-text text-darken-4">library_music</i></a></li>
        <li><a href="#" class="dropdown-trigger" data-target='dropdown1'><img class="circle thumbnail-size" src="/people.png"></a></li>
        <ul id='dropdown1' class='dropdown-content'>
          <li><%= link_to '로그아웃', destroy_user_session_path, method: :delete, class: "indigo-text text-darken-4" %></li>
          <li class="divider" tabindex="-1"></li>
          <li><%= link_to '마이페이지', edit_user_registration_path, class: "indigo-text text-darken-4" %></li>
          <li class="divider" tabindex="-1"></li>
          <li><%= link_to '알람', '#', class: "indigo-text text-darken-4" %></li>
        </ul>
        <% else %>
        <li><%= link_to '로그인', new_user_session_path, class: "indigo-text text-darken-4" %></li>
        <li><%= link_to '회원가입', new_user_registration_path, class: "indigo-text text-darken-4" %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <% if user_signed_in? %>
    <li><div class="user-view">
      <div class="background">
        <img src="/download.png">
      </div>
      <a href="#user"><img class="circle" src="/people.png"></a>
      <a href="#email"><span class="white-text email"><%= current_user.email %></span></a>
    <% end %>
    </div></li>
    <% if user_signed_in? %>
    <li><a href="<%= edit_user_registration_path %>"><i class="material-icons">add_alert</i>알람</a></li>
    <li><a href="<%= edit_user_registration_path %>"><i class="material-icons">perm_identity</i>마이페이지</a></li>
    <% end %>
    <li><div class="divider"></div></li>
    <li><a class="subheader">한/시/오/분</a></li>
    <li ><a href="<%= root_path %>"><i class="material-icons">home</i></a></li>
    <% if user_signed_in? %>
      <li><a href="#"><i class="material-icons">search</i></a></li>
      <li><a href="#"><i class="material-icons">library_music</i></a></li>
      <li><%= link_to '로그아웃', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to '로그인', new_user_session_path %></li>
      <li><%= link_to '회원가입', new_user_registration_path %></li>
    <% end %>
  </ul>
  
<div class="container">
  <%= yield %>
</div>
  <script>
      $(document).ready(function(){
      $('.sidenav').sidenav();
    });
      $('.dropdown-trigger').dropdown();
  </script>
</body>
</html>
